@page
@model KE03_INTDEV_SE_1_Base.Pages.CheckoutModel
@{
    ViewData["Title"] = "Checkout";
}

<h1>Checkout</h1>

<p>Sorry, van de overheid mag ik niet zomaar jullie persoonlijke gegevens verzamelen ):</p>
