@page
@model KE03_INTDEV_SE_1_Base.Pages.Profile.AccountInfoModel
@{
    ViewData["Title"] = "Account Info";
}

<h1>Account Info</h1>

<p>Waarom wil je weten wie je bent? Dat weet je toch? Jij bent jij!</p>
<p>Toch..?</p>
